<h1>Create an article</h1>

<% if @article.errors.any? %>

<h2>This action was prevented by the following errors</h2>

    <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>

<% end %>




<%= form_for @article do |f| %>

<p><%= f.label :title %>:</p>
<p><%= f.text_field :title %></p>
<p><%= f.label :description %>:</p>
<p><%= f.text_area :description %></p>

<%= f.submit %>

<%end%>

<%= link_to "See all articles", articles_path %>