<h1>Article details</h1>



<ul>
    <li><strong>Author: </strong><%= link_to @article.user.username, user_path(@article.user) %></li>
    <li><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></li>
</ul>



<h3>Title: <%= @article.title %></h3>

<p><strong>Description: </strong><%= @article.description %></p>
<ul>
    <li><%= link_to "See all articles", articles_path %></li>
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <li><%= link_to 'edit article', edit_article_path(@article) %></li>
    <li><%= link_to 'delete article', article_path(@article), method: :delete, data: {confirm: "are you sure"}%></li>
    <% end %>
</ul>
