<h1>Sign up!</h1>

<%= form_for @user do |f| %>

<div class="form-group">
    <label>
        <%= f.label :username %>
    </label>
    <%= f.text_field :username, class: "form-control", autofocus: true %>
</div>
<div class="form-group">
    <label>
        <%= f.label :email %>
    </label>
    <%= f.text_field :email, class: "form-control" %>
</div>

<div class="form-group">
    <label>
        <%= f.label :password %>
    </label>
    <%= f.password_field :password, class: "form-control"%>
</div>

<%= f.submit "Update your account", class: "btn btn-lrg btn-primary" %>

<%end%>
<br>
[<%= link_to "Cancle", root_path %>]